<ui:composition template="/template.xhtml"
				xmlns="http://www.w3.org/1999/xhtml"
				xmlns:ui="http://java.sun.com/jsf/facelets"
				xmlns:h="http://java.sun.com/jsf/html"
				xmlns:f="http://java.sun.com/jsf/core"
				xmlns:p="http://primefaces.org/ui">
	
	<ui:define name="conteudo">
		
		<h:form id="cadastroForm">
		
			<h:panelGrid columns="3">
				<h:outputLabel id="descriptionLabel" value="Descrição*:" for="inputdescription" />
				<h:inputText id="inputdescription" value="#{issueBean.issue.description}" />
				<h:message for="inputdescription" />
								
				<h:outputLabel id="emailLabel" value="E-mail*:" for="inputEmail" />
				<h:inputText id="inputEmail" required="true" value="#{issueBean.issue.reporter}" />
				<h:message for="inputEmail" />				
								
				<h:outputLabel id="discoveredLabel" value="Descoberto em:" for="inputdiscovered" />
				<p:calendar id="inputdiscovered" value="#{issueBean.issue.discoveredDate}" />
				<h:message for="inputdiscovered" />
								
				<h:commandButton value="Cadastrar" action="#{issueBean.save}"  /> 
		
			</h:panelGrid>
		
		</h:form>
				
		
	</ui:define>
	
</ui:composition>
